@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700&subset=latin');

html * {
  font-family: 'Lato', sans-serif;
}

.mT-70 {
	margin-top: 70px;
}

.mT-minus-70 {
  margin-top: -70px;
}

.mB-20 {
	margin-bottom: 20px;
}

.mB-10 {
	margin-bottom: 10px;
}

.copyright {
	flex: 1;
	margin-top: 100px;
	text-align: center;
}

.site {
	display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.TA_center {
	text-align: center;
}

.TA_right {
  text-align: right;
}

/* mapbox */
.map {
	height: 400px;
}

/* Welcome.js page */
.intro-header {
  padding-top: 300px;
  padding-bottom: 350px;
  text-align: center;
  color: #f8f8f8;
  background: url(https://res.cloudinary.com/daqjgpz3i/image/upload/v1461469395/spark-dimmed_mgyiro.jpg) no-repeat center center;
  background-size: cover;
/*  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);*/
}

/* Welcome.js content */
/* img on right */
.content-section-a {
  padding: 220px 0;
  /*background-color: #f8f8f8;*/
  background: url(https://res.cloudinary.com/daqjgpz3i/image/upload/v1461469395/spark-dimmed_mgyiro.jpg) no-repeat center center;
  background-size: cover;
}

/* img on left */
.content-section-b {
  padding: 220px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.section-heading {
  margin-bottom: 30px;
}

.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}

.lead {
  font-size: 18px;
  font-weight: 400;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Footer */
footer {
	display: block;
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
