@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700&subset=latin');

html * {
  font-family: 'Lato', sans-serif;
}

.mT-70 {
	margin-top: 70px;
}

.mT-minus-70 {
  margin-top: -70px;
}

.mB-20 {
	margin-bottom: 20px;
}

.mB-10 {
	margin-bottom: 10px;
}

.copyright {
	flex: 1;
	margin-top: 100px;
	text-align: center;
}

.site {
	display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.TA_center {
	text-align: center;
}

.TA_right {
  text-align: right;
}
.TA_left {
  text-align: left;
}

.color_white {
  color: white;
}

.italics {
  font-style: italic;
}
/* mapbox */
.map {
	height: 400px;
}

/* Welcome.js page */
.intro-header {
  padding-top: 300px;
  padding-bottom: 300px;
  text-align: center;
  color: #f8f8f8;
  background: url(https://res.cloudinary.com/daqjgpz3i/image/upload/v1461469395/spark-dimmed_mgyiro.jpg) no-repeat center center;
  background-size: cover;
/*  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);*/
}

/* Welcome.js content */
/* img on right */
.content-section-a {
  padding: 220px 0;
  /*background-color: #f8f8f8;*/
  background: url(https://res.cloudinary.com/daqjgpz3i/image/upload/v1461572134/flooding_snxdh3.jpg) no-repeat center center;
  background-size: cover;
}

/* img on left */
.content-section-b {
  padding: 220px 0;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

.section-heading {
  margin-bottom: 30px;
}

.section-heading-spacer {
  float: left;
  width: 200px;
  border-top: 3px solid #e7e7e7;
}

.lead {
  font-size: 18px;
  font-weight: 400;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.header-1 {
  text-transform: uppercase;
  padding-bottom: 50px;
  font-size: 300%;
  padding-left: 20%;
  padding-right: 20%;

}

.para-1 {
  font-size: 150%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15%;
  padding-right: 15%;
}

.body {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
/*  background: url(http://res.cloudinary.com/daqjgpz3i/image/upload/v1461572134/flooding_snxdh3.jpg) no-repeat center center;
  background-size: cover;*/
  background-color: #e9fcf4;
}

.header-2 {
  font-size: 180%;
  padding-left: 15%;
  padding-right: 15%;
}
.para-2 {
  font-size: 130%;
  padding-top: 20px;
  padding-bottom: 90px;
  padding-left: 15%;
  padding-right: 15%;
  color: #858585;
}
.body-blue {
  padding-bottom: 20px;
  color: #6ca6cd;
  font-size: 150%;
  padding-left: 10%;
  padding-right: 10%;
}
.para-3 {
  font-size: 120%;
  padding-bottom: 10px;
  padding-left: 5%;
  padding-right: 5%;
}
.para-4 {
  font-size: 110%;
  padding-bottom: 10px;
  padding-left: 5%;
  padding-right: 5%;
  padding-left: 15%;
  padding-right: 15%;

}


/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  /*margin: 0px;*/
  padding-left: 15%;
  padding-right: 15%;

}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }


/*  GRID OF TWO  */
.span_2_of_2 {
  width: 100%;
}
.span_1_of_2 {
  width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 960 PIXELS */

@media only screen and (max-width: 960px) {
  .col { 
    margin: 1% 0 1% 0%;
  }
  .span_2_of_2, .span_1_of_2 { width: 100%; }
  .section {padding-left: 0%; padding-right: 0%;}
  .image-1 {padding-left: 0%; padding-right: 0%;}

}

.body-abt {
  /*padding-top: 200px;*/
  padding-bottom: 80px;
  /*text-align: center;*/
  background-color: #388E8E;
  background-size: cover;
  color: #f8f8f8;
  padding-left: 15%;
  padding-right: 15%;
}
.header-abt {
  font-size: 180%;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: center;
}

.ul.a{
    list-style-type: circle;
}

.image-1 {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-2 {
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 20px;
  padding-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  
}
.image-3 {
  padding-left: 0%;
  /*padding-right: 30%;*/
  padding-top: 150px;
  padding-bottom: 30px;
  text-align: center; 
  display: block;
  margin-left: auto;
  margin-right: auto;

}


.body-work {
  /*padding-top: 200px;*/
  padding-bottom: 80px;
  text-align: center;
  background-size: cover;
  /*color: #f8f8f8;*/
 /* padding-left: 8%;
  padding-right: 8%;*/
}

/* Footer */
footer {
	display: block;
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}
