@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700&subset=latin');

html * {
  font-family: 'Lato', sans-serif;
}

.mT-70 {
	margin-top: 70px;
}

.mB-20 {
	margin-bottom: 20px;
}

.mB-10 {
	margin-bottom: 10px;
}

.copyright {
	flex: 1;
	margin-top: 100px;
	text-align: center;
	
}

.site {
	display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.TA_center {
	text-align: center;
}

#map {
	height: 400px;
}